.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal-container {
  background-color: rgb(231, 231, 231);
  width: 80%;
  height: 60%;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.title-edit-task {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: #05587c;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}

.title-container,
.description-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn-form button {
  background-color: #05587c;
  color: white;
  border: none;
  border-radius: 9px;
  font-size: 10px;
  width: 100px;
  height: 30px;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid rgb(189, 189, 189);
  border-radius: 9px;
}

@media (min-width: 1024px) {
  .modal-container {
    width: 25%;
  }
}
